<h1>To-do number <%= @todo.id %></h1>
<div class="field">
	<p>Description: <%= @todo.description %></p>
</div>
<div class="field">
	<p>Completed: <%= @completed %></p>	
</div>

<div >
	<%= link_to 'Back', todos_path, :class => 'btn btn-primary' %></td>  
</div>

